:root{
  --blub-size : 20px;
  --border-color : #c22404;
}

.frame {
  width: 80%;
  aspect-ratio: 1217/729;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/frame.png");
  background-size: cover;
}